body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 2px solid slategrey;
}

/* Estilos para el contenedor principal */
css

/* Estilos para el contenedor principal */
.projects-container {
  background-color: #0f172b;
  color: white;
  /* Agregar color de texto blanco para el modo oscuro */
  padding: 20px;
}

/* Estilos para el título */
.projects-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Estilos para cada proyecto */
.project-card {
  background-color: #0f172b;
  color: white;
  /* Agregar color de texto blanco para el modo oscuro */
  padding: 10px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
}

/* Estilos para el título de cada proyecto */
.project-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

s

/* Estilos para la descripción de cada proyecto */
.project-description {
  font-size: 14px;
}

/* Estilos para el slideshow */
.slideshow {
  background-color: #0f172b;
  color: white;
  /* Agregar color de texto blanco para el modo oscuro */
  /* Agregar estilos adicionales para el slideshow en modo oscuro */
}

@tailwind base;
@tailwind components;
@tailwind utilities;